.chat-online {
  color: #34ce57;
}

.chat-offline {
  color: #e4606d;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.border-top {
  border-top: 1px solid #dee2e6 !important;
}
.mainNavitem {
  padding: 5px;
  margin: 5px;
  background-color: #dee2e6;
  border-radius: 5px;
  transition: background-color 1s;
}
.mainNavitem:hover {
  background-color: #ff731d;
}
.chatsectionmaindiv {
  margin-top: 5.5rem;
  width: 98vw;
  height: 83vh;
  display: flex;
  justify-content: end;
}
@media (max-width: 400px) {
  .chatsectionmaindiv {
    height: 87vh;
    margin-top: 4.5rem;
  }
}
@media (max-width: 900px) {
  .chatsectionseconddiv {
    width: 100%;
  }
  .chatsectionmaindiv {
    margin-top: 4.5rem;
  }
}
.chatsectionseconddiv {
  min-width: 75%;
  height: 100%;
}
.headerofchat {
  margin-top: 10px;
  background-color: #fc8840;
  border-radius: 5px;
  padding: 5px;
}
.chatsfromboth {
  height: 70%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.sendbtn {
  background-color: #012970 !important;
  color: white !important;
}
