.userprofile {
  position: relative;
}
.bi-x-lg {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.hideclasssidebar {
  transition: transform 2s;
  transform: translateX(-100%);
}
.showclasssidebar {
  transition: transform 2s;
  transform: translateX(0%);
  z-index: 1;
}
.heightlimit {
  overflow-y: scroll;
  max-height: 80vh;
  position: fixed;
  top: 6rem;
  width: 22%;
}
@media screen and (max-width: 900px) {
  .bi-x-lg {
    display: block;
  }
  .heightlimit {
    top: 5rem;
  }
  .startingPageDiv {
    min-width: 100%;
  }
}
.bi-chevron-double-right {
  position: fixed;
  bottom: 50%;
}

.nikenameinput {
  border: none !important;
}
.nikenameinput:focus {
}
.mikenamediv {
  display: flex;
  background-color: white;
  border-radius: 10px;
}
.displayIcon {
  display: none;
}
.displaywriteIcon {
  display: none;
}
.bi-chevron-double-right {
  background-color: #fc8840;
}
.chatroomsmaindiv {
  min-height: 2.5rem;
  width: 100%;
  position: relative;
}
.addroom {
  background-color: #fc8840;
  color: black;
  top: 5px;
  font-size: 2rem;
  position: absolute;
  right: 5px;
  border-radius: 200px;
  padding: 0 7px;
  z-index: 1000;
}
.addroom:hover {
  background-color: #ffa269;
  color: rgb(255, 255, 255);
  transition: all 400ms;
  z-index: 1000;
}
.InputModalBody {
  width: 100%;
  border: 2px solid #fc8840;
  border-radius: 10px;
  padding: 10px;
}
.avatardivsec {
  display: flex;
  justify-content: center;
}
.AvatarEditordiv {
  width: fit-content;
}
.AvatarEditordiv > p {
  width: 100%;
}
.mainSiderbarDiv {
  z-index: 1000 !important;
}
.lowZindex {
  z-index: -1;
}
