.userprofile {
  position: relative;
}
.bi-x-lg {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.hideclasssidebar {
  transition: transform 2s;
  transform: translateX(-100%);
}
.showclasssidebar {
  transition: transform 2s;
  transform: translateX(0%);
}
.heightlimit {
  overflow-y: scroll;
  max-height: 80vh;
  position: fixed;
  top: 6rem;
  width: 22%;
}
@media screen and (max-width: 900px) {
  .bi-x-lg {
    display: block;
  }
  .heightlimit {
    top: 5rem;
  }
}
.bi-chevron-double-right {
  position: fixed;
  bottom: 50%;
}

.nikenameinput {
  border: none !important;
}
.nikenameinput:focus {
}
.mikenamediv {
  display: flex;
  background-color: white;
  border-radius: 10px;
}
.displayIcon {
  display: none;
}
.displaywriteIcon {
  display: none;
}
.bi-chevron-double-right {
  background-color: #fc8840;
}
